body{
  background-color: black;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
}

.principal{
    display: flex;
    background-color: rgba(240, 248, 255, 0.8);
    margin-left: 0px;
    margin-right:0px;
    flex-direction: row;
    margin-top: 100px;

}
.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    
}
.areaResultado{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
  
}
.estiloBoton{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;

}
.estiloBoton:hover {
    background-color:white; 
    color: #4CAF50;
    border:1px;
    border-color: #4CAF50;
    border-radius: 5px;
}
.estiloBoton:active{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;

}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.contenedorBoton{
    display: flex;
    flex:1;
    justify-content: center;
}
.cajaTexto{
    width:200px;
    border-radius: 4px;
    border-color: #4CAF50;
    
    font-size: 20px;
    color:rgb(85, 83, 83);
}
.datosIngresados{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.titulodecampo{
    width: 150px;         
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.subtotal{
    display: flex;
    flex:1;
    flex-direction: row;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;

}
.descuento{
    display: flex;
    flex:1;
    flex-direction: row;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;

}
.iva{
    display: flex;
    flex:1;
    flex-direction: row;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;

}
.total{
    display: flex;
    flex:1;
    flex-direction: row;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;

}

.error{
    color:red;
    font-style: italic;
    font-size: 16px;
}
